input.btn {
  border: 0;
  display: block;
  padding: 1em 3em;
  background: #d65755;
  color: #fff;
  margin-bottom: 1em;
  cursor: pointer;
}

input.btnRetour {
  border: 0;
  display: block;
  padding: 1em 3em;
  background: green;
  color: #fff;
  margin-bottom: 1em;
  cursor: pointer;
}
